body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    width: 450px;
}
form h1{
   text-align: center;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}